

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Montserrat:ital,wght@0,300;0,400;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

.innerheader {
    width: 100%;
    height: 75px;
    background-color: blue;
    color:white;
}

.logo {
    height: 100%;
    float: left;
    margin-left: 30px;
}

.logo h2{
    color:white;
    height: 100%;
    font-size: 225%;
    font-family: 'Bubblegum Sans', cursive;
}

.logo, #menu {
    line-height: 75px;
}

#menu {
    color:white;
    font-size: 110%;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#menu li { 
    float: right;
    margin-right: 30px;
} 

#menu a {
    color: white;
}

/*--------------------hover mouse animation-----------*/

#menu a:hover {
    color: pink;
    
}

.logo h2:hover {
    color: pink;
}


/* ________________ hero image */

.hero-image {
    margin-top: 0;
    width: 100%;
    height: 600px;
    background: url("../images/hero-image.jpg") ;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.hero-outer {
    margin-top: 0;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

@keyframes hero-zoom {
    from { 
        transform: scale(1);
}
to {
        transform: scale(1.1);
}
}


